APP_NAME=SecureWallet
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000
APP_TIMEZONE=America/La_Paz
FRONTEND_URL=http://localhost:5173

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=securewallet
DB_USERNAME=postgres
DB_PASSWORD=admin

CACHE_STORE=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file

BCRYPT_ROUNDS=12
ACCESS_TOKEN_TTL_MINUTES=15
REFRESH_TOKEN_TTL_DAYS=7
MFA_TICKET_TTL_MINUTES=5
PENDING_TRANSFER_TTL_SECONDS=120
CORS_ALLOWED_ORIGINS=http://localhost:5173
CORS_ALLOWED_ORIGINS_PATTERNS=^http://(192\.168\.\d{1,3}\.\d{1,3}|10\.\d{1,3}\.\d{1,3}\.\d{1,3}|172\.(1[6-9]|2\d|3[0-1])\.\d{1,3}\.\d{1,3}):5173$

RECAPTCHA_SITE_KEY=your-google-recaptcha-v2-site-key
RECAPTCHA_SECRET_KEY=your-google-recaptcha-v2-secret-key
RECAPTCHA_ENABLED=true
RECAPTCHA_VERIFY_URL=https://www.google.com/recaptcha/api/siteverify
RECAPTCHA_SSL_VERIFY=true
RECAPTCHA_CA_BUNDLE=storage/certs/cacert.pem
RECAPTCHA_TIMEOUT=4
RECAPTCHA_CONNECT_TIMEOUT=2
CAPTCHA_TEST_TOKEN=postman-test-captcha
